<div class="sidebar" id="sidebar">
    <button id="sidebarToggle" class="sidebar-toggle" aria-label="Toggle Sidebar">☰</button>
    <nav id="course-content">
      <h3 class="sidebar-heading">Navigate</h3>
      <ul class="sidebar-nav">
        {{ range $lesson := .Site.Sections }}
          <li class="sidebar-item">
            <a class="sidebar-link" href="#" data-target="#lesson-{{ $lesson.File.UniqueID }}">
              {{ $lesson.Title }}
              <span class="dropdown-icon"></span>
            </a>
            <ul class="sidebar-submenu" id="lesson-{{ $lesson.File.UniqueID }}">
              {{ range $lesson.Pages }}
                <li class="sidebar-subitem {{ if eq .Permalink $.Permalink }}active{{ end }}">
                  <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
              {{ end }}
            </ul>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>